* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-default: #f5f4f0;
  --border-primary: #d9d9d9;

  --text-primary: #1b1b1b;
  --text-secondary: #333333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;

  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;

  --font-family: "Open Sans", sans-serif;
  --h1: bold 36px var(--font-family);
  --h2: bold 2rem var(--font-family);
  --h3: bold 28px var(--font-family);
  --headline: bold 1rem var(--font-family);
  --paragraph: 1rem var(--font-family);
  --subtitle: italic 1rem var(--font-family);
}
