.container {
  margin: 1rem;
  & img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 28px;
    align-self: center;
    /* align-self center para que nos mobiles ela fique centralizada. */
  }
}
.city {
  display: flex;
  flex-direction: column;

  h1 {
    font: var(--h1);
    color: var(--text-primary);
  }
  & > p:nth-child(1) {
    font: var(--headline);
    color: var(--text-headline);
    margin-bottom: 8px;
  }

  & > p:nth-child(4) {
    font: var(--subtitle);
    color: var(--text-secondary);
    text-align: center;
    margin-top: 24px;
  }
}

.description {
  h2 {
    font: var(--h2);
    color: var(--text-primary);
  }
  /* O seletor nth-child conta todos os elementos filhos do pai, não apenas os de um tipo específico. Os <p> são o primeiro e o quarto filhos da <div class="city">. Por isso, para selecionar o segundo <p>, preciso usar nth-child(4). */
  & > p:nth-child(1) {
    font: var(--headline);
    color: var(--text-headline);
    margin-bottom: 8px;
  }
  & > p:nth-child(3) {
    font: var(--paragraph);
    color: var(--text-secondary);
    text-align: justify;
    margin-top: 8px;
  }
}
.location {
  display: flex;
  flex-direction: column;
  & h3 {
    font: var(--h3);
    color: var(--text-primary);
    margin-top: 20px;
  }
  & p {
    font: var(--paragraph);
    color: var(--text-secondary);
  }
  & ul {
    margin: 1rem 0;
    font: var(--headline);
    color: var(--text-secondary);
  }
  & ul li {
    color: var(--accent-blue);
    margin-left: 28px;
  }
  & ul:nth-of-type(3) li:nth-of-type(1) {
    color: var(--accent-purple);
    /* aqui eu procurei o meu terceiro ul e mudei a cor do primeiro li dele. senao fizer isso, a cor do primeiro li fica igual a dos outros li dos outros ul */
  }
  & ul li:nth-child(2) {
    color: var(--accent-pink);
  }
  & ul li:nth-child(3) {
    color: var(--accent-orange);
  }
}

@media (min-width: 80rem) {
  .container {
    margin: 88px 80px;
    & img {
      width: auto;
      height: 660px;
      align-self: auto;
    }
  }
}
