.container {
  margin: 1rem;
  & img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 28px;
    align-self: center;
  }
}
.city {
  display: flex;
  flex-direction: column;

  h1 {
    font: var(--h1);
    color: var(--text-primary);
  }
  & > p:nth-child(1) {
    font: var(--headline);
    color: var(--text-headline);
    margin-bottom: 8px;
  }

  & > p:nth-child(4) {
    font: var(--subtitle);
    color: var(--text-secondary);
    text-align: center;
    margin-top: 24px;
  }
  /* & img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 28px;
    align-self: center; */
  /* align-self center para que nos mobiles ela fique centralizada. */
  /* } */
}
.gap-top {
  margin-top: 40px;
}
.gap-64 {
  margin: 64px auto;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: var(--border-primary);
}

.description {
  h2 {
    font: var(--h2);
    color: var(--text-primary);
  }
  /* O seletor nth-child conta todos os elementos filhos do pai, não apenas os de um tipo específico. Os <p> são o primeiro e o quarto filhos da <div class="city">. Por isso, para selecionar o segundo <p>, preciso usar nth-child(4). */
  & > p:nth-child(1) {
    font: var(--headline);
    color: var(--text-headline);
    margin-bottom: 8px;
  }
  & > p:nth-child(3) {
    font: var(--paragraph);
    color: var(--text-secondary);
    text-align: justify;
    margin-top: 8px;
  }
}
.location {
  display: flex;
  flex-direction: column;
}

@media (min-width: 80rem) {
  .container {
    margin: 88px 80px;
    & img {
      width: auto;
      height: 660px;
      align-self: auto;
    }
  }
}
